<div class="morepage">
  <h1>人気のオーガニックコスメ</h1>
    <h2>そもそも、オーガニックコスメって何？</h2>
      <h3>日本には、明確なオーガニックコスメの基準はない？</h3>
      <h3>オーガニックコスメの選び方</h3>
    <h2>人気のオーガニックコスメの10選</h2>
      <h3>アムリターラ</h3>
      <h3></h3>
    <h2>オーガニックコスメの正しい使い方</h2>
      <h3></h3>
    <h2>コスメの使い方</h2>
      お気に入りのオーガニックコスメを手に入れたら、正しい使い方や効果的なメイク方法が気になりますよね。そこで安くそういった情報を手にいれるアドバイス。
      ヒント：イベントを活用しよう！！安いメイクアップ講座・カラー講座があります。以下のサイトがおすすめ！
     <ol>
       <li>イベント例</li>
      <% @events.each do |event| %>
      <li><%=  event.title %></li>
      <% end %>
     </ol>

</div>

