@font-face {
  font-family: 'SkipStd';
  src: font-url('Harenosora.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: 'ほのか明朝';
    src: url('001nezumi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


