
body {
  background-color: #f0f0f0;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

header {
background-color: gray;
height: 150px;
position: relative;
width: 100%;
margin: 0 0 10px;
padding: 15px 0 0;
}

@font-face {
    font-family: 'ほのか明朝';
    src: url('font_1_honokamin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* --- ナビゲーションバー --- */

div.nav {
width: 100%;
padding-top: 20px;
background-color: white; /* ナビゲーションの背景色 */
border-bottom: 3px #004080 solid; /* 下境界線 */
font-size: 80%;
height: 70px;
}

.nl {
width: 100%;
padding-top: 20px;
background-color: white; /* ナビゲーションの背景色 */
border-bottom: 3px #004080 solid; /* 下境界線 */
font-size: 80%;
height: 70px;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  margin: 0;
  float: left;
  padding-right: 10px;
}


.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.contents {
  padding-top: 10px;
  background-color: white;
}

.contents p {
  width:  100px;
  height:  100px;
  margin: 20px;
  display: block;
  color: red;
}


.contents_font {
  width:  100px;
  height:  100px;
  margin: 20px;
  display: block;
  color: red;
}


.footer{
width: 100%;
padding-top: 20px;
background-color: green; /* フッターの背景色 */
border-bottom: 3px #004080 solid; /* 下境界線 */
font-size: 80%;
height: 100px;
}
