<div class="contents row">
  <%= form_tag '/cosmes', method: :post, :multipart => true do  %>
    <h3>
      投稿する
    </h3>
    <%= file_field_tag :image %>
    <textarea cols="30" name="info" placeholder="商品名・商品情報" rows="10"></textarea>
    <textarea cols="30" name="text" placeholder="使い心地" rows="10"></textarea>
    <input type="submit" value="SENT">
  <% end %>
</div>